@model CollegeManagementSystem.ViewModel.SectionVM;

@{
    Layout = "_Layout";
    ViewData["Title"] = "AddSection";
    SelectList courses = new SelectList(ViewBag.Courses, "CourseId", "CourseName");
    SelectList instructors = new SelectList(ViewBag.Instructors, "InstructorId", "Name");
    SelectList grades = new SelectList(ViewBag.Grades, "Id", "Title");
}

<h1>New Section</h1>

<h4>Section</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddSection" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row m-auto mb-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group row m-auto mb-3" >
                <label asp-for="CourseId" class="control-label">Course</label>
                <select asp-for="CourseId" asp-items="courses" class="">
                    <option value="" selected disabled>Choose Course</option>
                </select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>

            <div class="form-group row m-auto mb-3">
                <label asp-for="InstructorId" class="control-label">Instructor</label>
                <select asp-for="InstructorId" asp-items="instructors">
                    <option value="" selected disabled>Choose Instructor</option>
                </select>
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>

            <div class="form-group row m-auto mb-3">
                <label asp-for="GradeId" class="control-label">Grade</label>
                <select asp-for="GradeId" asp-items="grades">
                    <option value="" selected disabled>Choose Grade</option>
                </select>
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>

            <div class="form-group mb-5">
                <input type="submit" value="Add Section" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllSections">Back to List</a>
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}